{{> header }}

<main>
  <div class="banner-login">
    <img src="images/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" width="800" height="250">
  </div>
  <br>
  <br>

  <section id="account-section">
    <h1>Need to make changes to your account?</h1>
    <br>
    <h2>Update your password here.</h2>
    <form id="passwordForm" class="password-form" action="/api/updatePassword" method="POST">
        <div class="input-group">
          <input type="text" id="username" name="username" placeholder="USERNAME" required>
        </div>
        
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="PASSWORD" required>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="NEW PASSWORD" required>
          </div>
          <button class="button">UPDATE</button>
      </form>
        <br>
        <br>
        <h2>We're bummed to see you go.</h2>
    <form id="deleteForm" class="delete-form" action="/api/deleteAccount" method="POST">
        <div class="input-group">
          <input type="text" id="username" name="username" placeholder="USERNAME" required>
        </div>
        
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="PASSWORD" required>
        </div>
      </form>
    <button class="deleteButton">DELETE ACCOUNT</button>
      <br>
      <br>
      <br>
  </section>
</main>

{{> footer}}