{{> header }}

<main>
    <div class="banner-favorites">
      <img src="images/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" class="full-logo" width="800" height="250">
    </div>
    <h1>Favorites Placeholder</h1>
    </section>
  </main>

{{> footer}}
