{{> header }}

  <main>
    <div class="banner-search">
        <img src="images/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" width="800" height="250">
    </div>
    
    <section class="search-section">
      <br>
      <br>
        <h1>Find the nearest brewery with just one tap.</h1>
          <img src="images/hop-logo-red.png" class="search-logo" alt="The Crafty Hop Hunter Search Logo" width="300" height="225"> 
            <div id="beer-app">
              <section id="beer"></section>
         
          <input name="search" id="input" type="text" placeholder="ENTER ZIP CODE" />

        <button class="button" type="submit" onclick="getData()">SEARCH</button>
        
        </div>
        </div>
      <br>
    </section>
  </main>

{{> footer}}

<script>
  async function getData() {
    const breweryURL = "https://api.openbrewerydb.org/breweries?by_postal="
    const zipCode = document.getElementById("input").value.trim()
    const lnBreak = document.createElement('br')
    if(!zipCode) return
    try {
      const res =  await fetch(`${breweryURL}${zipCode}`) 
      if (res.status !== 200) {
          throw new Error("Location not found")
      }
      const breweryData = await res.json()
      
      console.log(breweryData)
      renderBreweries(breweryData, zipCode)
      beer.appendChild(lnBreak)
      input.value = ""
    }
    catch (err){
      input.value = ""
      beer.innerHTML = err.message
    }
  }

  function renderBreweries(breweryData, searchTerm){
    beer.innerHTML = `<h2>Breweries near ${searchTerm}: <br><br>`
    for (let i = 0; i < breweryData.length; i++) {
        let h2 = document.createElement('h2')
        h2.textContent = breweryData[i].name
        let h4 = document.createElement('h4')
        h4.textContent = breweryData[i].street
        beer.appendChild(h2)
        beer.appendChild(h4)
        const favButton = document.createElement('button')
        favButton.setAttribute("class", "favButton")
        {{!-- favButton.setAttribute('onClick', #to-do) --}}
        favButton.setAttribute("type", "button")
        favButton.innerHTML = "ADD TO FAVORITES!"
        beer.appendChild(favButton)
          const line = document.createElement('hr')
          line.setAttribute("class", "line")
          beer.appendChild(line)
    }
  }
</script>

